@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 243 33% 25%;
      --foreground: 0 0% 100%;
      --muted: 243 12% 29%;
      --muted-foreground: 243 12% 79%;
      --popover: 243 33% 22%;
      --popover-foreground: 0 0% 100%;
      --card: 243 33% 23%;
      --card-foreground: 0 0% 100%;
      --border: 243 23% 30%;
      --input: 243 23% 33%;
      --primary: 50 100% 49%;
      --primary-foreground: 50 100% 9%;
      --secondary: 50 30% 25%;
      --secondary-foreground: 50 30% 85%;
      --accent: 243 33% 40%;
      --accent-foreground: 0 0% 100%;
      --destructive: 3 82% 47%;
      --destructive-foreground: 0 0% 100%;
      --ring: 50 100% 49%;
      --radius: 0.5rem;
   }

   .dark {
      --background: 243 33% 25%;
      --foreground: 0 0% 100%;
      --muted: 243 12% 29%;
      --muted-foreground: 243 12% 79%;
      --popover: 243 33% 22%;
      --popover-foreground: 0 0% 100%;
      --card: 243 33% 23%;
      --card-foreground: 0 0% 100%;
      --border: 243 23% 30%;
      --input: 243 23% 33%;
      --primary: 50 100% 49%;
      --primary-foreground: 50 100% 9%;
      --secondary: 50 30% 25%;
      --secondary-foreground: 50 30% 85%;
      --accent: 243 33% 40%;
      --accent-foreground: 0 0% 100%;
      --destructive: 3 82% 47%;
      --destructive-foreground: 0 0% 100%;
      --ring: 50 100% 49%;
   }
}

@layer base {
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground;
   }
   img {
      width: auto;
      height: auto;
   }
}

::-webkit-scrollbar {
   width: 10px;
}
::-webkit-scrollbar-track {
   @apply bg-card border-l;
}
::-webkit-scrollbar-thumb {
   @apply bg-primary/80 rounded-full;
}
